.arrow-right {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 

	border-left:30px solid blue;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 

	border-right:30px solid blue;
}